*{
    margin: 0%;
}

section p {
position: static;
border-color: black;
width: 200px;
height: 50px;
padding: 20px;
margin: 25px;
margin-bottom: 25px;
border-width: 8px;
background-color: pink;
text-align: center;
}

#Cuadro1 {
    border-style: dotted;
        }

#Cuadro2 {
    border-style: dashed;
        }

#Cuadro3 {
    border-style: dashed groove none dotted;
        }